.bwh-bot {
  overflow: hidden;
  .bh-wrap{
    justify-content: space-between;
    align-items: center;
    margin: auto!important;
    max-width: 1200px;
    .bwhb-logo {

      .bwhbl-img {

      }

      .bwhb-slogan {

      }
    }

    .bwhb-menu {
      align-items: center;
      .bwhbm-menu {
        float: left;
        font-size: 1rem;
        text-transform: uppercase;
        .bm-item {
          padding: 10px;
          a {
            color: #232a34;
            font-weight: 700;
            &:hover{
              border-bottom: 1px solid #de3241!important;
              transition: all 0.35s ease;
              color: #de3241;
            }
          }
        }
      }

      .bwhbm-cart {
        padding: 10px;
        a {

          .fa {

          }
        }
      }

      .bwhbm-search {
        padding: 10px;
        a {

          .fa {

          }
        }
      }
    }
  }
}