* {box-sizing: border-box}
.container{
  padding: 0!important;
}
.hover-img{
  text-align: center;
  display: none;
}

.hover-img.test{
  display: block;
  transform: translateX(40px);
  transition: all 2s ease 0s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none; 
  display: flex;  
}
.slogan_in_top{
  font-size: 14px;
  padding: 5px 0;
}
.navbar{
padding: 0;
}
.m-width{
  height: 15%;
}
.container-1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.container-2{
  text-align: center;
  padding: 50px;
}
.retangle::after {
 content: '';
 display: block;
 border: 1px solid #f5f5f5;
 width: 20%;
 margin: auto;

}
.tab-link{
  margin: auto;
}
.tab-link>a{
  color: #797979;
}
.tab-link>a:hover{
  color: #de3241;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  margin-bottom: 1em;
}
.container-flex, .social{
  display: flex;
  background-color: #eeeeee;
  margin: auto;
}

.top_user{
  display: flex;
  color: #797979;
  text-decoration: none;
  font-size: 14px;
}
.logo{
  width: 40%;
}
.logo-content{
  font-size: 14px;
}
.bg-light {
  background-color: white!important;
  height: 100%;
}
ul>li>a:hover{
  background-color: white;
  color: #de3241!important;
  transition: all 0.5s ease 0s;
}
button.btn{
  color: rgba(0,0,0,.5);
}
.btn-outline-success{
  color: black;
  border-color: white;
}
.contact_phone_in_top, .border, .distance{
  padding: 5px;
}
.distance>a, a>i{
  color: #797979;
}

.distance>a:hover, .border>a:hover{
  color: #de3241;
  text-decoration: none;
}

.contact_phone_in_top>span{
  color: #de3241;
  font-weight: 500;
  
}
.btn:hover{
  color: #de3241;
  background-color: white;
  border-color: white ;
}
.book-picture>a>img{
  width: 90%;
}
.tab-book{
  display: flex;
  text-align: center;
  margin: 0 0px 30px;
}

/*arow in button*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #121212;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  text-transform: uppercase;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*over arrow in button*/

.colum_wrap_1{
  margin-right: 20px;
}
.mg-mid{
  text-align: center;
  margin: 50px 0;
}
.input_email{
  background: #de3241;
  text-align: center;
  margin: 50px 0 0 0;
}
.content_before_email{
  padding: 40px 0;
  color: #ffffff;
}
.email{
  padding: 50px 0;
}
.form-inline{
  display: inherit; 
}
.btn-outline-success {
  color: white;
  background: black;
}
.btn-outline-success {
  background-color: transparent;
  background-image: none;

}
.mr-sm-2{
  margin-right: 0 !important;
}
.form-control, .btn{
  border-radius: 0 !important;
}
.colum_wrap{
  display: flex;
  text-align: center;
  padding: 0 0 30px 0;
}
.sc_title_underline{
  margin: 50px 0;
}
.sc_title{
  text-align: center;
  margin: 0 0 50px 0;
}
.container-3{
  background: #f5f5f5 !important;
  padding: 50px 0 25px 0;
}
.content-upper{
  text-align: center;
  padding: 50px 0 50px 0;
}
.readdown{
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.post-content{
  width: 30%;
}
.post-thumb>a>img{
  max-width: 100%;
}
.post-descr{
  color: white;
  padding: 20px 0;
}
.post-1{
  background: #f5bf56;
}
.post-2{
  background: #53877a;
}
.post-3{
  background: #de3241;
}
.container-4{
  padding-bottom: 60px;
}
.pick{
  display: flex;
}
.card{
  border: 0;
  margin-right: 20px;
}
.star-rating{
  font-size: 10px;
}
h5{
  font-size: 20px
}
h6{
  font-size: 15px
}
