.time-view-blog{
  font-size: 13px!important;
}
.blogDetai-box .recipe-main-content .content-btn{
  display: flex!important;
  align-items: center!important;
}
.fd-videoMore .list-video-viewMore .content-btn button{
  padding: 0 4px 0 0!important;
}
.list-newMV{
  .content-text{
    max-height: 65px;
    overflow: hidden;
  }
}
.featured-event .event-content .content-text p.decs{
  margin-top: 10px;
}