
.body{
	width: 1200px;
	margin: auto;
	color: white;

}
.content{
	padding-top: 8px;
	width: 40%;
	float: left;

}
.content img{
	width: 400px;

}
h1{

	color: black;

}
span{
	color: red;
}
p{
	text-transform: none;
}
#rab> h3{
	color: black;
}