@font-face {
  src: url("font/roboto/Roboto-Regular.ttf");
  font-family: Roboto-regular;
}
@font-face {
  src: url("font/roboto/Roboto-Bold.ttf");
  font-family: Roboto-bold;
}
@font-face {
  src: url("font/roboto/Roboto-Italic.ttf");
  font-family: Roboto-italic;
}