.bwsc-choosebook {
  background: #f5f5f5;

  .bc-wrap{
    max-width: 1200px;
    margin: auto!important;
    .bc-content {
      text-align: center;
      font-size: 2.647em;
      padding: 80px 0 50px 0;
      position: relative;
      font-family: "Playfair Display", serif;
      &::after{
        position: absolute;
        content: '';
        width: 8%;
        height: 0;
        border-top: 1px solid #222;
        min-width: 1px;
        bottom: 30px;
        left: 46%;

      }
      em {

      }
    }

    .bc-wrap {
      justify-content: space-around;

      .bcw-item {
        width: 25%;
        overflow: hidden;
        text-align: center;
        img {
          margin-bottom: 25px!important;
        }

        a {
          font-size: 25px;
          color: #797979;
          font-style: italic;
          &:hover{
            color: #de3241;
          }
        }
      }
    }

    .bc-discover {
      text-align: center;
      padding: 60px 0;
      .bcd-link {
        background: black;
        padding: 15px 20px;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        &:hover{
          border: 1px solid black;
          color: black;
          background: transparent;
        }
      }
    }
  }

}