.bwsc-discout {
  background: #de3242;

  .bd-wrap{
    max-width: 1200px;
    margin: auto!important;
    justify-content: space-between;
    .bdw-content {
      font-size: 45px;
      font-family: "PT Sans";
      span {
        color: #fff;
      }
    }

    .bdw-link {
      margin: auto!important;
      a{
        color: #fff;
        padding: 10px 30px;
        border: 1px solid #000;
        border-radius: 5px;
        background: #000;
        &:hover{
          background: transparent;
          color: black;
        }
      }
    }
  }

}