.carousel-caption{
  bottom: 30%!important;
  .carousel-title{
    font-size: 42px;
    padding-bottom: 50px;
    font-family: Playfair Display;
  }
  .carousel-link{
    padding: 10px 20px;
    border: 1px solid black;
    color: #fff;
    background: #000;
    border-radius: 5px;
    &:hover{
      background: transparent;
    }
  }

}
.cr-right{
  right: -20%!important;
  bottom: 48%!important;

  .carousel-link{
    margin-left: 20%!important;
  }
}