.bwsc-update-email {
  background: url("../img/bg1.jpg") no-repeat;
  .be-content {
    font-size: 2.941em;
    text-align: center;
    padding: 50px 0;
    font-family: "Playfair Display", serif;
  }

  .be-email {
    text-align: center;
    padding: 20px 0 50px 0;
    .bee-int {
      font-size: 15px;
      padding: 10px 20px;
      border: none;
    }

    .bee-btn {
      font-size: 15px;
      padding: 10px 20px;
      font-weight: 700;
      border: none;
      text-transform: uppercase;
      background: #000;
      color: #fff;
      &:hover{
        background: transparent;
        transition: all 0.35s ease;
        color: #000;
      }
    }
  }
}