.fd-logo {
  height: 52px !important;
}

@media only screen and (max-width: 2560px) and (min-width: 1441px) {
  .menu-left {
    #mCSB_1 {
      #mCSB_1_container {
        .fd-logo {
          a {
            .mCS_img_loaded {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
  .content-Review {
    .time-view-star {
      .star {
        a {
          margin-right: 2 !important;
          img {
            max-width: 15px !important;
          }
        }
      }
    }
  }
  .content-in {
    .time-view-star {
      .info-activity {
        .avatar {
          width: 40px;
          height: 40px;
          margin-right: 5px;
          img {
            width: 40px;
            height: 40px;
          }
        }
        .nameCG {
          a {
            font-size: 15px;
          }
        }
        p {
          a {
            font-size: 11px;
          }
        }
      }
      .btTheodoi {
        width: 110px;
      }
      .RW_pin-price {
        .RW_price {
          img {
            margin-right: 3px;
          }
        }
        .time {
          font-size: 11px;
          img {
            max-width: 14px;
          }
        }
        .views {
          font-size: 11px;
          img {
            max-width: 18px;
          }
        }
        .star {
          max-width: 80%;
          img {
            max-width: 15px;
          }
        }
      }
    }
  }
  .topThanhVien {
    .owl-stage-outer {
      .owl-stage {
        .owl-item {
          li {
            .info-activity {
              .nameCG {
                a {
                  font-size: 12px;
                }
              }
            }
            .btTheodoi {
              max-width: 105px;
            }
          }
        }
      }
    }
  }
  .fd-wrapper .menu-left .fd-logo a {
    padding: 13px 18px;
    height: 66px!important;
  }
  .fd-wrapper .menu-left .fb-menu-btn{
    margin-top: 10px;
  }
  .content-right {
    .recent-activity {
      .list-ChuyenGia {
        li {
          .info-activity {
            .avatar {
              width: 60px;
              height: 60px;
              margin-right: 0;
              a {
                img {
                  width: 60px;
                  height: 60px;
                  margin-right: 0;
                }
              }
            }
            .nameCG {
              left: 45%;
              top: -10%;
              a {
                font-size: 15px;
              }
            }
          }
          .btTheodoi {
            width: 110px;
          }
        }
      }
    }
  }
  .list-Review {
    li {
      .content-Review {
        .time-view-star {
          .RW_pin-price {
            .RW_pin {
              img {
                width: 12px;
                padding-bottom: 3px;
              }
            }
            .RW_price {
              img {
                width: 15px;
                padding-bottom: 3px;
              }
            }
          }
          .star {
            padding-bottom: 2.5px;
            a {
              margin-right: 0;
              img {
                width: 14px;
              }
            }
          }
        }
      }
    }
  }
  .list-Cook {
    li {
      .content-in {
        .time-view-star {
          .info-activity {
            .avatar {

              margin-right: 5px;
              img {

              }
            }
            p {
              span {
                font-size: 13px;
              }
              a {
                font-size: 13px;
              }
            }
          }
          .RW_pin-price {
            .time {
              font-size: 13px;
              margin-left: 5px;
              img {
                width: 14px;
                padding-bottom: 5px;
              }
            }
            .views {
              font-size: 13px;
              img {
                width: 18px;
                padding-bottom: 5px;
              }
            }
            .star {
              img {
                width: 15px;
              }
            }
          }
        }
      }
    }
  }
  .users-recipe {
    ul {
      li {
        .content-img {
          .time-view-star {
            .RW_pin-price {
              .RW_pin {
                font-size: 13px;
                img {
                  margin-bottom: 1px;
                }

              }
              .RW_price {
                font-size: 13px;
                img {
                  margin-bottom: 1px;
                }
              }
            }
            .star {
              bottom: 12px;
              a {
                margin-right: 0;
                img {
                  width: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
  .info-restaurant-box {
    .info-Restaurant {
      width: 100%;
      filter: grayscale(0);
      margin-top: 15px;
    }
  }
  .content-left{
    .content-left-inner{
      width: 100%;
    }
  }
  .content-right{

  }
}

@media only screen and (max-width: 1440px) and (min-width: 1401px) {
  .fd-wrapper .menu-left .fd-logo a {
    padding: 13px 18px;
    height: 66px!important;
  }
  .fd-wrapper .menu-left .fb-menu-btn{
    margin-top: 10px;
  }
  .content-right {
    .recent-activity {
      .list-ChuyenGia {
        li {
          .info-activity {
            .avatar {
              width: 60px;
              height: 60px;
              a {
                img {
                  width: 60px;
                  height: 60px;
                }
              }
            }
            .nameCG {
              margin-top: 45px;
              padding-left: 70px;
              a {
                font-size: 13px;
              }
            }
          }
          .btTheodoi {
            width: 90px;
          }
        }
      }
    }
  }
  .list-Review {
    li {
      .content-Review {
        .time-view-star {
          .RW_pin-price {
            .RW_pin {
              img {
                width: 12px;
                padding-bottom: 3px;
              }
            }
            .RW_price {
              img {
                width: 15px;
                padding-bottom: 3px;
              }
            }
          }
          .star {
            padding-bottom: 1.5px;
            a {
              margin-right: 0px;
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .list-Cook {
    li {
      .content-in {
        .time-view-star {
          .info-activity {
            .avatar {
              width: 30px;
              height: 30px;
              margin-right: 5px;
              img {
                width: 30px;
                height: 30px;
              }
            }
            p {
              span {
                font-size: 11px;
              }
              a {
                font-size: 11px;
              }
            }
          }
          .RW_pin-price {
            .time {
              font-size: 11px;
              margin-left: 5px;
              img {
                width: 13px;
                padding-bottom: 5px;
              }
            }
            .views {
              font-size: 11px;
              img {
                width: 16px;
                padding-bottom: 5px;
              }
            }
            .star {
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .users-recipe {
    ul {
      li {
        .content-img {
          .time-view-star {
            .RW_pin-price {
              .RW_pin {
                font-size: 13px;
                img {
                  margin-bottom: 1px;
                }

              }
              .RW_price {
                font-size: 13px;
                img {
                  margin-bottom: 1px;
                }
              }
            }
            .star {
              bottom: 12px;
              a {
                margin-right: 0;
                img {
                  width: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
  .info-restaurant-box {
    .info-Restaurant {
      width: 100%;
      filter: grayscale(0);
      margin-top: 15px;
    }
  }
  .all-notice {
    .notice-info {
      .btn-custom {
        .total {
          top: 15px;
          right: 0;
        }
      }
    }
    .chat-info {
      .btn-custom {
        .total {
          top: 15px;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1380px) {
  .content-right {
    .recent-activity {
      .list-ChuyenGia {
        li {
          .info-activity {
            .avatar {
              width: 60px;
              height: 60px;
              a {
                img {

                }
              }
            }
          }
        }
      }
    }
  }
  .users-recipe {
    ul {
      li {
        .content-img {
          .time-view-star {
            .RW_pin-price {
              .RW_pin {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }

              }
              .RW_price {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }
              }
            }
            .star {
              bottom: 12px;
              a {
                margin-right: 0;
                img {
                  width: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
  .info-restaurant-box {
    .info-Restaurant {
      width: 100%;
      filter: grayscale(0);
      margin-top: 15px;
    }
  }
  .all-notice {
    .notice-info {
      .btn-custom {
        .total {
          top: 10px;
        }
      }
    }
    .chat-info {
      .btn-custom {
        .total {
          top: 15px;
          right: 0;
        }
      }
    }
  }

}

@media only screen and (max-width: 1379px) and (min-width: 1351px) {
  .content-right {
    .recent-activity {
      .list-ChuyenGia {
        li {
          padding: 10px 15px;
          .info-activity {
            .avatar {
              max-width: 55px !important;
              max-height: 55px !important;
              margin-top: 5px;
              a {
                img {
                  height: 55px;
                }
              }
            }
            .nameCG {
              padding-top: 8%;
              padding-left: 65px;
              a {
                font-size: 13px;
                line-height: 17px;
              }
            }
          }
          .btTheodoi {
            font-size: 13px !important;
            margin-top: 0 !important;
          }
        }
      }
    }
  }
  .fd-wrapper .menu-left .fd-logo a {
    padding: 6px 18px !important;
  }
  .list-Review {
    li {
      .content-Review {
        .time-view-star {
          .RW_pin-price {
            .RW_pin {
              img {
                width: 12px;
                padding-bottom: 3px;
              }
            }
            .RW_price {
              img {
                width: 15px;
                padding-bottom: 3px;
              }
            }
          }
          .star {
            padding-bottom: 1.5px;
            a {
              margin-right: 0px;
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .list-Cook {
    li {
      .content-in {
        .time-view-star {
          .info-activity {
            .avatar {
              width: 30px;
              height: 30px;
              margin-right: 5px;
              img {
                width: 30px;
                height: 30px;
              }
            }
            p {
              span {
                font-size: 11px;
              }
              a {
                font-size: 11px;
              }
            }
          }
          .RW_pin-price {
            .time {
              font-size: 11px;
              margin-left: 5px;
              img {
                width: 13px;
                padding-bottom: 5px;
              }
            }
            .views {
              font-size: 11px;
              img {
                width: 16px;
                padding-bottom: 5px;
              }
            }
            .star {
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .users-recipe {
    ul {
      li {
        .content-img {
          .time-view-star {
            .RW_pin-price {
              .RW_pin {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }

              }
              .RW_price {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }
              }
            }
            .star {
              bottom: 12px;
              a {
                margin-right: 0;
                img {
                  width: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
  .info-restaurant-box {
    .info-Restaurant {
      width: 100%;
      filter: grayscale(0);
      margin-top: 15px;
    }
  }
  .all-notice {
    .notice-info {
      .btn-custom {
        .total {
          top: 10px;
          right: 0;
        }
      }
    }
    .chat-info {
      .btn-custom {
        .total {
          top: 10px;
          right: 0;
        }
      }
    }
  }
  .content-button {
    .btn-left {
      .time {
        font-size: 12px !important;
        img {
          width: 20px;
          margin-right: 5px !important;
          margin-top: 5px !important;
        }
      }
    }
  }
  .modal-backdrop {
    opacity: 0 !important;
  }
  .transaction-history-list {
    .content {
      .txtLefft{
        img{
          margin-bottom: 4px!important;
        }
      }
      .text-right{
        img{
          margin-bottom: 4px!important;
        }
      }
    }
  }
  .list-rewardPoints{
    li{
      p{
        img{
          margin-bottom: 4px!important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1350px) and (min-width: 1281px) {
  .fd-wrapper .menu-left .fd-logo a {
    padding: 8px 18px !important;
  }
  .fd-logo {
    a {
      height: 52px;
    }
  }
  .list-Review {
    li {
      .content-Review {
        .time-view-star {
          .RW_pin-price {
            .RW_pin {
              img {
                width: 12px;
                padding-bottom: 3px;
              }
            }
            .RW_price {
              img {
                width: 15px;
                padding-bottom: 3px;
              }
            }
          }
          .star {
            a {
              margin-right: 0px;
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .list-Cook {
    li {
      .content-in {
        .time-view-star {
          .info-activity {
            .avatar {
              width: 30px;
              height: 30px;
              margin-right: 5px;
              img {
                width: 30px;
                height: 30px;
              }
            }
            p {
              span {
                font-size: 11px;
              }
              a {
                font-size: 10px;
              }
            }
          }
          .RW_pin-price {
            .time {
              font-size: 11px;
              img {
                width: 13px;
                padding-bottom: 5px;
              }
            }
            .views {
              font-size: 11px;
              img {
                width: 16px;
                padding-bottom: 5px;
              }
            }
            .star {
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .users-recipe {
    ul {
      li {
        .content-img {
          .time-view-star {
            .RW_pin-price {
              .RW_pin {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }

              }
              .RW_price {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }
              }
            }
            .star {
              bottom: 12px;
              a {
                margin-right: 0;
                img {
                  width: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
  .info-restaurant-box {
    .info-Restaurant {
      width: 100%;
      filter: grayscale(0);
      margin-top: 15px;
    }
  }
  .all-notice {
    .notice-info {
      .btn-custom {
        .total {
          top: 10px;
          right: 0;
        }
      }
    }
    .chat-info {
      .btn-custom {
        .total {
          top: 15px;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .list-catalogFood li{
    padding: 0!important;
  }
  .fd-videoMore .list-video-viewMore .content-video{
    float: none;
    width: 190px;
    margin-bottom: 10px;
  }
  .time-view-star{
    .star{
      display: none;
    }
  }
  .fd-content-home{
    display: flex;
  }
  .menu-top .nav-top li{
    padding: 0 5px;
    font-size: 13px;
  }
  .menu-top.resize .search input{
    width: 220px;
  }
  .container2{
    width: 85%;
    margin: auto;
  }
  .fd-wrapper .menu-left .fd-logo a {
    padding: 8px 18px !important;
  }

  .list-catalogFood li a{
    font-size: 12px;
  }
  .recent-activity ul.list-ChuyenGia li .info-activity .nameCG span{
    line-height: 16px;
    font-size: 12px;
    img{
      width: 20px;
    }
  }
  .time-view-star .star a{
    margin-right: 0!important;
  }

  .list-ChuyenGia {
    li {
      padding: 7px 15px!important;
      .info-activity {
        .avatar {
          margin-right: 0 !important;
          width: 30px !important;
          height: 30px !important;
          margin-top: 5px;
          a {
            img {
              width: 30px !important;
              height: 30px !important;
              margin-right: 0 !important;
            }
          }

        }
        .nameCG {
          padding-left: 35px !important;
          padding-top: 5px;
          height: 55px!important;
          a {
            font-size: 11px !important;
          }
          span{

          }
        }
      }
      .btTheodoi {
        top: 20% !important;
        width: 65px !important;
        span {
          font-size: 11px;
          i {
            margin-top: 0 !important;
            font-size: 15px!important;
          }
        }
      }
    }
  }
  .list-video-left {
    li {
      .content-video {
        .time-view-star {
          .star {
            img {
              width: 13px;
            }
            a {
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .list-Review {
    li {
      .content-Review {
        .time-view-star {
          .RW_pin-price {
            .RW_pin {
              img {
                width: 12px;
                padding-bottom: 3px;
              }
            }
            .RW_price {
              font-size: 11px;
              img {
                width: 15px;
                padding-bottom: 3px;
              }
            }
          }
          .star {
            padding-bottom: 0;
            a {
              margin-right: 0;
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .list-Cook {
    li {
      .content-in {
        .time-view-star {
          .info-activity {
            .avatar {
              width: 30px;
              height: 30px;
              margin-right: 5px;
              img {
                width: 30px;
                height: 30px;
              }
            }
            p {
              span {
                font-size: 11px;
              }
              a {
                font-size: 10px;
              }
            }
          }
          .RW_pin-price {
            .time {
              font-size: 10px;
              img {
                width: 15px;
                padding-bottom: 5px;
              }
            }
            .views {
              font-size: 10px;
              img {
                width: 16px;
                padding-bottom: 5px;
              }
            }
            .star {
              img {
                width: 13px;
              }
            }
          }
        }
      }
    }
  }
  .users-recipe {
    ul {
      li {
        .content-img {
          .time-view-star {
            .RW_pin-price {
              .RW_pin {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }

              }
              .RW_price {
                font-size: 11px;
                img {
                  margin-bottom: 1px;
                }
              }
            }
            .star {
              bottom: 12px;
              a {
                margin-right: 0;
                img {
                  width: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
  .info-restaurant-box {
    .info-Restaurant {
      width: 100%;
      filter: grayscale(0);
      margin-top: 15px;
    }
  }
  .all-notice {
    .notice-info {
      .btn-custom {
        .total {
          top: 10px;
          right: 0;
        }
      }
    }
    .chat-info {
      .btn-custom {
        .total {
          top: 10px;
          right: 0;
        }
      }
    }
  }
}
